<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<Section class="login">
    <main class="main">
        <form th:action="@{/delete}" class="form">
            <input type="hidden" id="id" name="id" th:value="${id}">
            <div class="form-group">
                Bạn xác nhận xóa?
                <button type="submit" class="btn btn-primary text-sm">Confirm</button>
            </div>
        </form>
        <a th:href="@{/store}">
            <button class="btn btn-primary text-sm">Cancel</button>
        </a>
    </main>
</Section>
</body>
</html>